<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.employee.admin.mapper.IMenuMapper">
    <resultMap id="menuResultMap" type="com.employee.admin.vo.MenuVO">
        <result column="icon" jdbcType="BIGINT" property="icon"/>
        <result column="index" jdbcType="VARCHAR" property="index"/>
        <result column="title" jdbcType="VARCHAR" property="title"/>
        <result column="role" jdbcType="VARCHAR" property="role"/>

        <collection property="subMenu" resultMap="menuSubResultMap" />
    </resultMap>

    <resultMap id="menuSubResultMap" type="com.employee.admin.vo.MenuSubVO">
        <result column="subIcon" jdbcType="BIGINT" property="subIcon"/>
        <result column="subIndex" jdbcType="VARCHAR" property="subIndex"/>
        <result column="subTitle" jdbcType="VARCHAR" property="subTitle"/>
        <result column="subRole" jdbcType="VARCHAR" property="subRole"/>
    </resultMap>

    <select id="getAllMenu" resultMap="menuResultMap"><![CDATA[
        select par.icon,par.index,par.title,sub.icon as subIcon,sub.index as subIndex,sub.title as subTitle
        from (
            select *
            from employee_menu_t
            where delete_flag = 0
            and is_sub = 0) par
        left join (
            select *
            from employee_menu_t
            where delete_flag = 0
            and is_sub = 1) sub
        on par.id = sub.parent_id
    ]]></select>

    <select id="getMenuByUser" resultMap="menuResultMap" parameterType="com.employee.admin.vo.QueryUserVO">
        select menu.icon, menu.index, menu.title, menu.role, menu.subIcon, menu.subIndex, menu.subTitle, menu.subRole
        from (
            select par.id, par.icon,par.index,par.title,par.role,sub.icon as subIcon,sub.index as subIndex,sub.title as subTitle,sub.role as subRole
            from (
                select *
                from employee_menu_t
                where delete_flag = 0
                and is_sub = 0) par
            left join (
                select *
                from employee_menu_t
                where delete_flag = 0
                and is_sub = 1) sub
            on par.id = sub.parent_id
            ) menu, (
            select role_id
            from employee_staff_role_t
            <where>
                delete_flag = 0
                <if test="userId != null and userId != ''">
                    and user_id = #{userId}
                </if>
            </where>
            ) role
        where menu.role <![CDATA[ >= ]]> role.role_id
        and if(subRole is null, menu.role, subRole) <![CDATA[ >= ]]> role.role_id
        order by menu.id asc
    </select>
</mapper>