<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.employee.admin.mapper.IStaffDetailMapper">
    <resultMap id="staffDetailResultMap" type="com.employee.admin.vo.StaffDetailVO">
        <result column="user_id" jdbcType="BIGINT" property="userId"/>
        <result column="username" jdbcType="VARCHAR" property="username"/>
        <result column="sex" jdbcType="INTEGER" property="sex"/>
        <result column="phone" jdbcType="VARCHAR" property="phone"/>
        <result column="telePhone" jdbcType="VARCHAR" property="telePhone"/>
        <result column="email" jdbcType="VARCHAR" property="email"/>
        <result column="birthday" jdbcType="DATE" property="birthday"/>
        <result column="province" jdbcType="VARCHAR" property="province"/>
        <result column="city" jdbcType="VARCHAR" property="city"/>
        <result column="county" jdbcType="VARCHAR" property="county"/>
        <result column="address" jdbcType="VARCHAR" property="address"/>
        <result column="current_address" jdbcType="VARCHAR" property="currentAddress"/>
        <result column="politics" jdbcType="VARCHAR" property="politics"/>
        <result column="national" jdbcType="VARCHAR" property="national"/>
        <result column="marriage" jdbcType="VARCHAR" property="marriage"/>
        <result column="education" jdbcType="VARCHAR" property="education"/>
        <result column="userFace" jdbcType="VARCHAR" property="userFace"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
    </resultMap>

    <sql id="staffDetailList">
        user_id, username, sex, phone, telephone, email, birthday, province, city, county, address,
        current_address, politics, national, marriage, education, userface, remark
    </sql>

    <insert id="addStaffDetail">
        insert into
        employee_staff_detail_t(user_id, username, password, sex, phone, telephone, email, birthday, province, city,
        county, address,current_address, politics, national, marriage, education, userface, remark, delete_flag,
        create_time, update_time)
        values(#{userId}, #{username}, #{password}, #{sex}, #{phone}, #{telephone}, #{email}, #{birthday}, #{province},
        #{city}, #{county}, #{address}, #{currentAddress}, #{politics}, #{national}, #{marriage}, #{education},
        #{userface}, #{remark}, #{deleteFlag}, #{createTime}, #{updateTime})
    </insert>

    <select id="getUserPassword" resultType="String">
        select password
        from employee_staff_detail_t
        where delete_flag = 0
        and username = #{username}
    </select>

    <select id="getStaffDetail" resultMap="staffDetailResultMap" parameterType="com.employee.admin.entity.StaffDetail">
        select
        <include refid="staffDetailList"/>
        from employee_staff_detail_t
        <where>
            delete_flag = 0
            <if test="username != null and username != ''">
                and username = #{username}
            </if>
            <if test="userId != null">
                and user_id = #{userId}
            </if>
        </where>
    </select>

    <select id="getStaffDetailByEmpId" resultMap="staffDetailResultMap" parameterType="com.employee.admin.entity.StaffDetail">
        select
        <include refid="staffDetailList"/>
        from employee_staff_detail_t
        where user_id = (
            select user_id
            from employee_staff_user_t
            where emp_id = #{empId})
        and delete_flag = 0
    </select>
</mapper>