<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.employee.admin.mapper.IStaffDeptMapper">
    <resultMap id="staffDeptResultMap" type="com.employee.admin.vo.StaffDeptVO">
        <result column="emp_id" jdbcType="VARCHAR" property="empId"/>
        <result column="emp_name" jdbcType="VARCHAR" property="empName"/>
        <result column="emp_position" jdbcType="VARCHAR" property="empPosition"/>
        <result column="super_emp_id" jdbcType="VARCHAR" property="superEmpId"/>
        <result column="dept_id" jdbcType="VARCHAR" property="deptId"/>
    </resultMap>

    <sql id="staffBaseList">
        emp_id, emp_position, super_emp_id, dept_id
    </sql>

    <insert id="addStaffDept">
        insert into employee_staff_dept_t(emp_id, emp_position, super_emp_id, dept_id)
        values (#{empId}, #{empPosition}, #{superEmpId}, #{deptId})
    </insert>

    <select id="getSubEmp" resultMap="staffDeptResultMap">
        select result.<include refid="staffBaseList" />, esbt.emp_name
        from (
            select <include refid="staffBaseList" />
            from employee_staff_dept_t esdt
            where delete_flag = 0
            and esdt.super_emp_id = #{empId}) result
        left join employee_staff_base_t esbt
        on result.emp_id = esbt.emp_id
    </select>
</mapper>