<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.employee.admin.mapper.IStaffDetailMapper">
    <resultMap id="staffDetailResultMap" type="com.employee.admin.vo.StaffDetailVO">
        <result column="user_id" jdbcType="BIGINT" property="userId"/>
        <result column="username" jdbcType="VARCHAR" property="username"/>
        <result column="sex" jdbcType="INTEGER" property="sex"/>
        <result column="phone" jdbcType="VARCHAR" property="phone"/>
        <result column="telephone" jdbcType="VARCHAR" property="telephone"/>
        <result column="email" jdbcType="VARCHAR" property="email"/>
        <result column="id_card" jdbcType="VARCHAR" property="idCard"/>
        <result column="birthday" jdbcType="DATE" property="birthday"/>
        <result column="province" jdbcType="VARCHAR" property="province"/>
        <result column="city" jdbcType="VARCHAR" property="city"/>
        <result column="county" jdbcType="VARCHAR" property="county"/>
        <result column="address" jdbcType="VARCHAR" property="address"/>
        <result column="current_address" jdbcType="VARCHAR" property="currentAddress"/>
        <result column="politics" jdbcType="VARCHAR" property="politics"/>
        <result column="national" jdbcType="VARCHAR" property="national"/>
        <result column="marriage" jdbcType="VARCHAR" property="marriage"/>
        <result column="education" jdbcType="VARCHAR" property="education"/>
        <result column="userface" jdbcType="VARCHAR" property="userface"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
    </resultMap>

    <resultMap id="allStaffDetailResultMap" type="com.employee.admin.vo.AllStaffDetailVO">
        <result column="user_id" jdbcType="BIGINT" property="userId"/>
        <result column="username" jdbcType="VARCHAR" property="username"/>
        <result column="sex" jdbcType="INTEGER" property="sex"/>
        <result column="phone" jdbcType="VARCHAR" property="phone"/>
        <result column="telephone" jdbcType="VARCHAR" property="telephone"/>
        <result column="email" jdbcType="VARCHAR" property="email"/>
        <result column="id_card" jdbcType="VARCHAR" property="idCard"/>
        <result column="birthday" jdbcType="DATE" property="birthday"/>
        <result column="province" jdbcType="VARCHAR" property="province"/>
        <result column="city" jdbcType="VARCHAR" property="city"/>
        <result column="county" jdbcType="VARCHAR" property="county"/>
        <result column="address" jdbcType="VARCHAR" property="address"/>
        <result column="current_address" jdbcType="VARCHAR" property="currentAddress"/>
        <result column="politics" jdbcType="VARCHAR" property="politics"/>
        <result column="national" jdbcType="VARCHAR" property="national"/>
        <result column="marriage" jdbcType="VARCHAR" property="marriage"/>
        <result column="education" jdbcType="VARCHAR" property="education"/>
        <result column="userface" jdbcType="VARCHAR" property="userface"/>
        <result column="remark" jdbcType="VARCHAR" property="remark"/>
        <result column="emp_id" jdbcType="VARCHAR" property="empId"/>
        <result column="emp_name" jdbcType="VARCHAR" property="empName"/>
        <result column="participate_time" jdbcType="VARCHAR" property="participateTime"/>
        <result column="leave_time" jdbcType="VARCHAR" property="leaveTime"/>
        <result column="leave_reason" jdbcType="VARCHAR" property="leaveReason"/>
        <result column="emp_id" jdbcType="VARCHAR" property="empId"/>
        <result column="super_emp_id" jdbcType="VARCHAR" property="superEmpId"/>
        <result column="super_emp_name" jdbcType="VARCHAR" property="superEmpName"/>
        <result column="dept_id" jdbcType="VARCHAR" property="deptId"/>
        <result column="dept_name" jdbcType="VARCHAR" property="deptName"/>
    </resultMap>

    <resultMap id="staffDetailAllUserResultMap" type="com.employee.admin.vo.StaffDetailAllUserVO">
        <result column="user_id" jdbcType="BIGINT" property="userId"/>
        <result column="createTime" jdbcType="DATE" property="createTime"/>
    </resultMap>

    <sql id="staffDetailList">
        user_id, username, sex, phone, telephone, email, id_card, birthday, province, city, county, address,
        current_address, politics, national, marriage, education, userface, remark
    </sql>

    <sql id="staffBaseList">
        emp_id, emp_name, participate_time, leave_time, leave_reason
    </sql>

    <sql id="staffDeptList">
        emp_position, super_emp_id, dept_id
    </sql>

    <insert id="addStaffDetail">
        insert into
        employee_staff_detail_t(user_id, username, password, sex, phone, telephone, email, id_card, birthday, province,
        city, county, address,current_address, politics, national, marriage, education, userface, remark, delete_flag,
        create_time, update_time)
        values(#{userId}, #{username}, #{password}, #{sex}, #{phone}, #{telephone}, #{email}, #{idCard}, #{birthday},
        #{province}, #{city}, #{county}, #{address}, #{currentAddress}, #{politics}, #{national}, #{marriage},
        #{education}, #{userface}, #{remark}, #{deleteFlag}, #{createTime}, #{updateTime})
    </insert>

    <select id="getUserPassword" resultType="String">
        select password
        from employee_staff_detail_t
        where delete_flag = 0
        and username = #{username}
    </select>

    <select id="getAllUserId" resultMap="staffDetailAllUserResultMap">
        select staffB.emp_id, staffB.emp_name, now() as createTime, DATE_FORMAT(now(),'%Y-%m-%d') as attendanceTime
        from employee_staff_base_t staffB, (
            select emp_id
            from employee_staff_user_t staffU, (
                select staffE.user_id
								from(
									select user_id
									from employee_staff_detail_t
									where delete_flag = 0
								) staffE, employee_staff_role_t esrt
								where staffE.user_id = esrt.user_id
								and esrt.role_id > 'ROLE001'
            ) staffD
            where staffU.user_id = staffD.user_id
        ) staffA
        where delete_flag = 0
        and staffA.emp_id = staffB.emp_id
    </select>

    <select id="getStaffDetail" resultMap="staffDetailResultMap" parameterType="com.employee.admin.entity.StaffDetail">
        select
        <include refid="staffDetailList"/>
        from employee_staff_detail_t
        <where>
            delete_flag = 0
            <if test="username != null and username != ''">
                and username = #{username}
            </if>
            <if test="userId != null">
                and user_id = #{userId}
            </if>
        </where>
    </select>

    <select id="getStaffDetailByEmpId" resultMap="staffDetailResultMap" parameterType="com.employee.admin.entity.StaffDetail">
        select
        <include refid="staffDetailList"/>
        from employee_staff_detail_t
        where user_id = (
            select user_id
            from employee_staff_user_t
            where emp_id = #{empId})
        and delete_flag = 0
    </select>

    <select id="getPageUser" resultMap="allStaffDetailResultMap">
        select result.<include refid="staffDeptList" />, result.dept_name,
            result.<include refid="staffDetailList"/>, result.emp_id, result.emp_name, result.participate_time,
            result.leave_time, result.leave_reason, result_esb.emp_name super_emp_name
        from
            (select esde_ed.<include refid="staffDeptList" />, esde_ed.dept_name,
            esdu_esb.<include refid="staffDetailList"/>, esdu_esb.<include refid="staffBaseList" />
            from (
                select esde.emp_position, esde.super_emp_id, esde.dept_id, esde.emp_id, ed.dept_name
                from employee_staff_dept_t esde
                left join employee_dept_t ed
                on esde.dept_id = ed.dept_id
                where esde.delete_flag = 0
                and ed.delete_flag = 0
            ) esde_ed
            left join (
            select esdu.<include refid="staffDetailList"/>, esb.<include refid="staffBaseList" />
            from (
                select esd.<include refid="staffDetailList"/>,esu.emp_id
                from employee_staff_detail_t esd
                left join employee_staff_user_t esu
                on esd.user_id = esu.user_id
                where esd.delete_flag = 0
            ) esdu
            left join employee_staff_base_t esb
            on esdu.emp_id = esb.emp_id
            where esb.delete_flag = 0
            ) esdu_esb
            on esde_ed.emp_id = esdu_esb.emp_id) result
        left join employee_staff_base_t result_esb
        on result.super_emp_id = result_esb.emp_id
    </select>

    <select id="getPageUserByDept" resultMap="allStaffDetailResultMap">
        select *
        from (
        select result.<include refid="staffDeptList" />, result.dept_name,
        result.<include refid="staffDetailList"/>, result.emp_id, result.emp_name, result.participate_time,
        result.leave_time, result.leave_reason, result_esb.emp_name as super_emp_name
        from
        (select esde_ed.<include refid="staffDeptList" />, esde_ed.dept_name,
        esdu_esb.<include refid="staffDetailList"/>, esdu_esb.<include refid="staffBaseList" />
        from (
        select esde.emp_position, esde.super_emp_id, esde.dept_id, esde.emp_id, ed.dept_name
        from employee_staff_dept_t esde
        left join employee_dept_t ed
        on esde.dept_id = ed.dept_id
        where esde.delete_flag = 0
        and ed.delete_flag = 0
        ) esde_ed
        left join (
        select esdu.<include refid="staffDetailList"/>, esb.<include refid="staffBaseList" />
        from (
        select esd.<include refid="staffDetailList"/>,esu.emp_id
        from employee_staff_detail_t esd
        left join employee_staff_user_t esu
        on esd.user_id = esu.user_id
        where esd.delete_flag = 0
        ) esdu
        left join employee_staff_base_t esb
        on esdu.emp_id = esb.emp_id
        where esb.delete_flag = 0
        ) esdu_esb
        on esde_ed.emp_id = esdu_esb.emp_id) result
        left join employee_staff_base_t result_esb
        on result.super_emp_id = result_esb.emp_id
        ) res
        where res.dept_name = #{deptName}
        or res.emp_position = #{deptName}
    </select>

    <update id="updateStaffDate"  parameterType="com.employee.admin.vo.StaffDetailVO">
        update employee_staff_detail_t
        <set>
            <if test="username != null and username != ''">
                username=#{username}
            </if>
            <if test="password != null and password != ''">
                password=#{password}
            </if>
            <if test="sex != null">
                ,sex=#{sex}
            </if>
            <if test="phone != null and phone != ''">
                ,phone=#{phone}
            </if>
            <if test="email != null and email != ''">
                ,email=#{email}
            </if>
            <if test="idCard != null and idCard != ''">
                ,id_card=#{idCard}
            </if>
            <if test="birthday != null">
                ,birthday=#{birthday}
            </if>
            <if test="remark != null and remark != ''">
                ,remark=#{remark}
            </if>
        </set>
         where user_id=#{userId}
    </update>

    <select id="getEmail" resultMap="staffDetailResultMap">
        select *
        from employee_staff_detail_t
        where delete_flag = 0
        and email = #{email}
    </select>

    <update id="updateUserByEmail">
        update employee_staff_detail_t
        <set>
            <if test="password != null and password != ''">
                password=#{password}
            </if>
        </set>
        where email=#{email}
    </update>

    <select id="getUserByName" resultMap="allStaffDetailResultMap">
        select *
        from (
        select result.<include refid="staffDeptList" />, result.dept_name,
        result.<include refid="staffDetailList"/>, result.emp_id, result.emp_name, result.participate_time,
        result.leave_time, result.leave_reason, result_esb.emp_name as super_emp_name
        from
        (select esde_ed.<include refid="staffDeptList" />, esde_ed.dept_name,
        esdu_esb.<include refid="staffDetailList"/>, esdu_esb.<include refid="staffBaseList" />
        from (
        select esde.emp_position, esde.super_emp_id, esde.dept_id, esde.emp_id, ed.dept_name
        from employee_staff_dept_t esde
        left join employee_dept_t ed
        on esde.dept_id = ed.dept_id
        where esde.delete_flag = 0
        and ed.delete_flag = 0
        ) esde_ed
        left join (
        select esdu.<include refid="staffDetailList"/>, esb.<include refid="staffBaseList" />
        from (
        select esd.<include refid="staffDetailList"/>,esu.emp_id
        from employee_staff_detail_t esd
        left join employee_staff_user_t esu
        on esd.user_id = esu.user_id
        where esd.delete_flag = 0
        ) esdu
        left join employee_staff_base_t esb
        on esdu.emp_id = esb.emp_id
        where esb.delete_flag = 0
        ) esdu_esb
        on esde_ed.emp_id = esdu_esb.emp_id) result
        left join employee_staff_base_t result_esb
        on result.super_emp_id = result_esb.emp_id
        ) lyx
        where lyx.emp_name like "%"#{empName}"%"
    </select>

    <select id="getUserByEmail" resultMap="staffDetailResultMap">
        select <include refid="staffDetailList" />
        from employee_staff_detail_t
        where delete_flag = 0
        and email = #{email}
    </select>

    <update id="updateUserFace">
        update employee_staff_detail_t
        <set>
            <if test="destFileName != null and destFileName != ''">
                userface=#{destFileName}
            </if>
        </set>
        where username=#{username}
    </update>

    <update id="updateUserStatus">
        update employee_staff_detail_t
        set delete_flag = 1
        where user_id=#{userId}
    </update>
</mapper>