<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.employee.admin.mapper.IStaffBaseMapper">
    <resultMap id="staffBaseResultMap" type="com.employee.admin.vo.StaffBaseVO">
        <result column="emp_id" jdbcType="VARCHAR" property="empId"/>
        <result column="emp_name" jdbcType="VARCHAR" property="empName"/>
        <result column="participate_time" jdbcType="VARCHAR" property="participateTime"/>
        <result column="leave_time" jdbcType="VARCHAR" property="leaveTime"/>
        <result column="leave_reason" jdbcType="VARCHAR" property="leaveReason"/>
    </resultMap>

    <sql id="staffBaseList">
        emp_id, emp_name, participate_time, leave_time, leave_reason
    </sql>

    <insert id="addStaffBase">
        insert into employee_staff_base_t(emp_id, emp_name, participate_time, create_time)
        values (#{empId}, #{empName}, #{participateTime}, #{createTime})
    </insert>

    <select id="getStaffBaseNum" resultType="int">
        select count(1)
        from employee_staff_base_t
    </select>

    <select id="getStaffBaseByEmp" resultMap="staffBaseResultMap">
        select <include refid="staffBaseList"/>
        from employee_staff_base_t
        <where>
            <if test="empId != null and empId != ''">
                emp_id = #{empId}
            </if>
            <if test="empName != null and empName != ''">
                and emp_name = #{empName}
            </if>
        </where>
        and delete_flag = 0
    </select>

    <select id="getStaffBaseByUser" resultMap="staffBaseResultMap">
        select staffB.<include refid="staffBaseList"/>
        from employee_staff_base_t staffB, (
            select emp_id
            from employee_staff_user_t
            where user_id = #{userId}
        ) user
        where user.emp_id = staffB.emp_id
        and delete_flag = 0
    </select>
</mapper>