<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.employee.admin.mapper.IWorkAttendanceMapper">
    <resultMap id="WorkAttendanceResultMap" type="com.employee.admin.vo.WorkAttendanceVO">
        <result column="user_id" jdbcType="BIGINT" property="userId"/>
        <result column="start_time" jdbcType="DATE" property="startTime"/>
        <result column="end_time" jdbcType="VARCHAR" property="endTime"/>
        <result column="start_ip" jdbcType="VARCHAR" property="startIp"/>
        <result column="end_ip" jdbcType="VARCHAR" property="endIp"/>
        <result column="reason" jdbcType="VARCHAR" property="reason"/>
    </resultMap>

    <sql id="WorkAttendance">
        user_id, start_time, end_time, start_ip, end_ip, reason
    </sql>

    <insert id="addAllStaffWages" parameterType="java.util.List">
        insert into employee_work_attendance_t(user_id, create_time)
        <foreach collection ="list" item ="item" index ="index" open="("  close=")"  separator ="union all">
            select
            #{item.userId},
            #{item.createTime}
            from dual
        </foreach >
    </insert>

    <select id="getAllWorkAttendance" resultMap="WorkAttendanceResultMap">
        select
        <include refid="WorkAttendance"/>
        from employee_work_attendance_t
        where delete_flag = 0
    </select>
</mapper>

